/*Body*/
body{
  margin: 0;
  box-sizing: border-box;

  background: linear-gradient(green, 20%, lightgreen);
}

header{
  text-align: center;
  margin-top: 5%;
}

/*main*/
main{
  display: flex;
  flex-direction: column;
  
}

.text{
  display: flex;
  flex-direction: column;
  margin: 0 10% 10% ;
}

.text p{
  margin-left: 5%;
}

/*Logo*/
#logo{
  text-align: center;
}


/*Botón*/
.boton{
  text-align: center;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
body {
  text-align: center;
  padding-top: 100px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

#command-text {
  font-size: 24px;
  margin-top: 20px;
}